.main {
    display: flex;
    flex-wrap: wrap;

}

.accountCard {
    margin: 50px;
    padding: 30px;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgb(138, 137, 137);
}

.pfp-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.pfp-container img {
    width: 100px;
    height: 100px;
}

#pfp-image {
    cursor: pointer;
}

#img-upload { 
    display: none;
}

.accountDetails {
    margin-top: 10px;
}

.accountDetails div {
    margin-top: 10px;
}

.detailBox {
    width: auto;
    padding: 1px 5px 1px 5px;
    border: 1px solid;
    border-radius: 5px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitBtn {
    width: 7rem;
    border:2px solid #161616;
    background-color: transparent;
    cursor: pointer;
    line-height: 2;
    margin: 0;
    padding: 0;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    font-weight: bold;
    color:  #545559;
    text-transform: lowercase;
    outline: none;
    transition: all .35s;
}

.moodtrackerCard {
    margin: 50px;
    padding: 30px;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgb(138, 137, 137);
}

.meditationCard {
    margin: 50px;
    padding: 30px;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgb(138, 137, 137);
}

.forumCard {
    margin: 50px;
    padding: 30px;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgb(138, 137, 137);
}

.submitBtn {
    position: relative;
    overflow: hidden;
    width: 7rem;
    color: #5585ff;
    border: 2px solid #5585ff;
    background-color: transparent;
    cursor: pointer;
    line-height: 2;
    margin: 0;
    padding: 0;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    text-transform: lowercase;
    outline: none;
    transition: transform 0.125s;
}

.submitBtn:hover {
    background-color: #5585ff;
    color: white;

}

.submitBtn:active {
    transform: scale(0.9, 0.9);
}

.result-btn {
    text-align: center;
    margin-left: 10px;
    padding: 0;
}