body{
    color: rgb(58, 57, 56);
    font-family: Apercu, sans-serif;
}
main {
    display: block;
}

.titleContainer {
    margin: 0px auto;
    max-width: 100%;
    padding: 1.5rem;
    width: 100%;
}

.title {
    font-family: Apercu, sans-serif;
    font-weight: 700;
    letter-spacing: -0.055em;
    color: rgb(58, 57, 56);
    font-size: 2rem;
    line-height: 2.5rem;
    margin-left: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.imgContainer {
    flex-basis: 50%;
    overflow: hidden;
    padding-bottom: 66.6667%;
    position: relative;
    border-radius: 0.5rem;
    margin: -40px 35px 0px 35px;
}

.actualImg {
    background-color: rgb(203, 203, 204);
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.featureContainer {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    padding-top: 1rem;
}

.featureBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}

.featuredBar {
    border: 0.0625rem solid rgb(229, 229, 229);
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    height: 1.25rem;
    line-height: 1.25em;
    overflow: hidden;
    padding: calc((1.125rem - 1.25em) / 2) 0.5rem;
    position: relative;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    background: rgb(255, 255, 255);
    border-radius: 0.25rem;
    color: rgb(75, 76, 77);
}

.featureTitle {
    color: rgb(58, 57, 56);
    font-family: Apercu, sans-serif;
    font-weight: 700;
    letter-spacing: -0.055em;
    font-size: 2rem;
    line-height: 110%;
    margin-top: 5px;
}

.featureHeader2 {
    font-family: Apercu, sans-serif;
    font-weight: 700;
    letter-spacing: -0.055em;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.listContainer {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    list-style: none;
    margin: 10px;
    /* margin-left: 10px; */
    padding: 0px;
    background: rgb(255, 255, 255);
    color: rgb(90, 88, 87);
    justify-content: flex-start;
    transform: translate(-0.5rem, -0.5rem);
}

.featureButton {
    background: transparent;
    border: transparent;
    color: rgb(58, 57, 56);
    opacity: 1;
}

.forms {
    color: rgb(58, 57, 56);
    font-family: Apercu, sans-serif;
    margin-top: 0px;
    margin-bottom:20px;
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
}

#thread_submit_button {
    color: rgb(255, 255, 255);
    font-family: Apercu, sans-serif;
    background: rgb(126, 199, 146);
    border-radius: 0.5rem;
    margin-top: 10px;
    border-width:0.25px;
}

.cancel_button{
    color: rgb(58, 57, 56);
    font-family: Apercu, sans-serif;
    background: transparent;
    border-radius: 0.5rem;
    margin-top: 10px;
    border-width: 0.25px;
}

#journal_submit_button{
    color: rgb(255, 255, 255);
    font-family: Apercu, sans-serif;
    background: rgb(126, 199, 146);
    border-radius: 0.5rem;
    margin-top: 10px;
    border-width:0.25px;
}

.thread_render{ 
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(226, 226, 226);
    height:860px;
    overflow:auto;
}
.single_thread{
    margin: 15px;
    color: rgb(58, 57, 56);
    font-family: Apercu, sans-serif;
    padding: 20px;
    background-color: white;
}

.thread_buttons{
    background-color: transparent;
    border-radius: 0.5rem;
    border: rgb(58, 57, 56) solid 0.05px;
    margin: 2px;
}

.delete_modal{
    /* display: none; */
    height: 200px;
    border-radius: 0.5rem;;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 25%; */
    top:100px;
    right:2%;
    background-color: rgb(255, 255, 255);
    box-shadow:5px 5px 5px rgb(180, 180, 180);
}

.modal_content{
    margin: 30px;
}

.modal_content button{
    border-radius: 0.5rem;
    border: rgb(58, 57, 56) solid 0.05px;
    float:right;
    margin: 2px;
}

.modal_content button#cancel_delete{
    background-color: transparent;
}

.modal_content button#confirm_delete{
    background-color: rgb(214, 95, 95);
    color: white;
}

#edit_form{
    color: rgb(58, 57, 56);
    font-family: Apercu, sans-serif;
    margin-top: 0px;
    margin-bottom:20px;
    padding:10px;
    border-radius: 0.5rem;;
    position: fixed; 
    z-index: 1;
    top:100px;
    right:3%;
    box-shadow:5px 5px 5px rgb(180, 180, 180);
    background-color: rgb(255, 255, 255);
}

#edit_form button{
    border-radius: 0.5rem;
    border-width:0.25px;
    margin-top:2px;
    background-color: transparent;
}

